[submodule ".vim/bundle/commentary.vim"]
    path = .vim/bundle/commentary.vim
    url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/endwise.vim"]
    path = .vim/bundle/endwise.vim
    url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/vinegar.vim"]
    path = .vim/bundle/vinegar.vim
    url = https://github.com/tpope/vim-vinegar
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/surround.vim"]
    path = .vim/bundle/surround.vim
    url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/rails.vim"]
	path = .vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/bundler.vim"]
    path = .vim/bundle/bundler.vim
    url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/csv.vim"]
    path = .vim/bundle/csv.vim
    url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/fonts/powerline-fonts"]
	path = .vim/fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule ".emacs.d/ess"]
    path = .emacs.d/ess
    url = https://github.com/emacs-ess/ESS
